.pixel-snow-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  contain: layout style paint;
}
.pixelSnow {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through */
}
.pixel-snow-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}
